@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff9ea;
    --foreground: #1d1d1d;

    --primary: #ffcb45;
    --primary-foreground: #f8d477;
    --secundary: #e9a209;
    
    --tertiary: #fffff;
    --tertiary-foreground: #f4f4f4;
    
    --muted: #fcedc2;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  section {
    padding: 28px 8%;
  }
}
