@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff9ea;
    --foreground: #1d1d1d;

    --primary: #ffcb45;
    --primary-foreground: #f8d477;
    --secundary: #e9a209;
    
    --tertiary: #ffffff;
    --tertiary-foreground: #f4f4f4;
    
    --muted: #fcedc2;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  section {
    @apply py-7 px-[8%];
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-secundary text-3xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }
}
